@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.container {
    max-width: 1900px;
    font-family: "Open-Sans", sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.top-nav {
    height: 70px;
    background-color: #1d2124;
    color: white;
    display: flex;
    justify-content: space-between;
}

.top-nav a {
    color: white;
    text-decoration-line: none;
}

.fa-search {
    padding: 25px;
    color: white;
}

.top-nav-block {
    display: flex;
}

.logo,
.top-nav-block,
.search-block {
    align-self: center;
}

.search-block {
    background-color: #171a1c;
}

.logo {
    font-family: "Open-Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.logo-icon {
    margin: 22px;
}

.top-nav-link {
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 30px 18px;

}

.top-nav-link:hover {
    color: #14b9d5;
}

.jumbotron {
    height: 375px;
    background-attachment: fixed;
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}



.jumbo-title {
    text-transform: uppercase;
    font-size: 27px;
    color: white;
    padding-top: 126px;
}

.btn {
    margin: 44px 5px;
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: white;
    text-decoration-line: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 5px;
}

.btn-green {
    background-color: #89ca62;
}

.btn-blue {
    background-color: #14b9d5;
}

.gallery-article-item {
    margin: 15px;
    align-self: flex-start;
}

.gallery {
    background-color: #f2f2f2;
    text-align: center;

}

.gallery-title {
    display: block;
    width: 100%;
}

.gallery-wrapper {
    max-width: 1200px;
    max-height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blue-title {
    font-size: 27px;
    color: #14b9d5;
    text-transform: uppercase;
    padding: 50px;
    text-align: center;
}

.gallery-item-title {}

.gallery-item-text {
    width: 100%;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    color: #171a1c;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.clients {
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.white-title {
    font-family: "Open-Sans", sans-serif;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 200px;
}

.white-title::after {
    content: "";
    width: 60px;
    border: 2px solid #169cb4;
    display: block;
    margin: 55px auto;
}

.clients-item {
    margin: 50px 70px 200px;

}

.rated-grid {

    display: grid;
    justify-items: stretch;
    /*    grid-template-columns: repeat(7, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    justify-content: center;
}

.rated-item {
    max-width: 270px;
}

.top-rated {
    text-align: center;
}

.news {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*    grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-gap: 20px;
    grid-template-areas:
        "news-item1 news-item1 news-item1 news-item2"
        "news-item3 news-item3 news-item4 news-item4"
        "news-item5 news-item5 news-item6 news-item6"
        "news-item7 news-item8 news-item8 news-item8";
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;



}

.news-item1,
.news-item8 {
    grid-area: news-item1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(260px, auto);
}

.news-item2 {
    grid-area: news-item2;
}

.news-item3 {
    grid-area: news-item3;
}

.news-item4 {
    grid-area: news-item4;
}

.news-item5 {
    grid-area: news-item5;
}

.news-item6 {
    grid-area: news-item6;
}

.news-item7 {
    grid-area: news-item7;
}

.news-item8 {
    grid-area: news-item8;
}

.news-article {
    background-color: #f9f7f7;
}

.news-article:hover {
    transition: 1s;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
}

.article-right-summary {
    padding: 40px 25px;
    text-align: right;
}

.article-title {
    font-family: "Open-Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.article-text {
    font-family: "Open-Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 25px;
    line-height: 1.4;
}

.article-bottom-summary {
    text-align: center;
    margin: 15px auto;
}

.article-bottom2-summary {
    text-align: right;
    margin: 20px 20px;

}

.article-cover {
    width: 100%;
    height: 100%;
}

.footer {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.footer-text {
    display: inline-block;
    margin: 30px 0px;
    color: white;
}

footer {
    background-color:
}

footer {
    background-color: #1d2124;

}

.footer-logo-text {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.footer-logo {
    margin: 30px 0 20px;
    display: inline-block;
    float: right;
}

.fa-angle-up {
    color: white;
}

.move-up {
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 25px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.move-up:hover{
        transition: 1s;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.6);
}

.hide-blog {
    background-color: #1d2124;
    width: 100%;
    height: 40px;
    color: white;
    border: 0px;
    margin-bottom: 10px;
}

.hide-blog:hover {
            transition: 1s;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.6);
}